<header class="gl-header">
    <aside class="gl-header--logo-panel ">
        <img src="./assets/img/logo.png" alt="company logo" width="90px">
    </aside>
    <div class="gl-header--hamburger">
        <a href="#"><img src="./assets/img/hamburger.png"></a>
    </div>
    <aside class="gl-header--search-panel">
        <ul class="gl-header--search-panel--search-type">
            <li class="gl-header--search-panel--search-type--list">People</li>
            <a href="#"><img src="./assets/img/down-arrow.png"></a>
        </ul>
        <label for="search">
            <input id="search" name="search" type="search" class="gl-header--search-panel--search-box" placeholder="Search people by name, email, designation, Phone...">
            <a href="#">Advance Search</a>
        </label>
        <ul class="gl-header--search-panel--menu" >
            <li class="gl-header--search-panel--menu--items"><a href="#">My Profile</a></li>
            <li class="gl-header--search-panel--menu--items"><a href="#">Clients</a></li>
            <li class="gl-header--search-panel--menu--items"><a href="#">Projects</a></li>
            <li class="gl-header--search-panel--menu--items"><a href="#">Organization</a></li>
            <li class="gl-header--search-panel--menu--items"><a href="#">Communities</a></li>
            <li class="gl-header--search-panel--menu--items"><a href="#">Apps</a></li>
            <li class="gl-header--search-panel--menu--items"><a href="#">Practices</a></li>
        </ul>
    </aside>
    <aside class="gl-header--user-panel ">
        <div class="gl-header--user-panel--users">
            <a href="" class="gl-header--user-panel--users--options"><img src="./assets/img/options.png" alt="options"></a>
            <a href="" class="gl-header--user-panel--users--profile"><img src="./assets/img/profile.png" alt="profile-image" width="30px"></a>
        </div>
        <div class="gl-header--user-panel--social-media">
            <ul class="gl-header--user-panel--social-media--list">
                <li class="gl-header--user-panel--social-media--list--item"><a href="#"><img src="./assets/img/facebook.png" alt="facebook"></a></li>
                <li class="gl-header--user-panel--social-media--list--item"><a href="#"><img src="./assets/img/twitter.png" alt="twitter"></a></li>
                <li class="gl-header--user-panel--social-media--list--item"><a href="#"><img src="./assets/img/linked-in.png" alt="linked-in"></a></li>
            </ul>
        </div>
    </aside>
</header>