{{> gl-header}}
<div class="main-container">
    <div class="main-container--left-pannel">
        <div class="container">
            {{> gl-profile-card}}
        </div>
        <div class="container">
            {{> gl-advertisement}}
        </div>

    </div>
    <div class="main-container--center-pannel">
        <div class="container">
            {{> gl-share-status}}
        </div>
        <div class="container">
            {{> gl-referals-rotations}}
        </div>
        <div class="container">
            {{> gl-award}}
        </div>
    </div>
    <div class="main-container--right-pannel">
        <div class="container">
        {{> gl-bday-anniversaries}}
        </div>
        <div class="container">
            {{> gl-recent-photos}}
            </div>
    </div>
</div>