<section class="gl-share-status">
    <div class="gl-share-status--input-status">
        <label for="share">
            <input id="share" class="gl-share-status--input-status--share" type="text" name="share" placeholder="What are you doing?">
        </label>
    </div>
    <div class="gl-share-status--add-media">
        <ul class="gl-share-status--add-media--list">
            <li class="gl-share-status--add-media--list--items-photo"><a href="#">Add Photo</a></li>
             <li class="gl-share-status--add-media--list--items-video"><a href="#">Add Video</a></li>
             <button class="gl-share-status--add-media--list--share" name="share">Share</button>
        </ul>
        
    </div>
</section>