<section class="gl-recent-photos">
    <h2 class="gl-recent-photos--heading">recent Photos</h2>
    <div class="gl-recent-photos--faces">
        <p class="gl-recent-photos--faces--count">57211 pictures and growing</p>
        <ul class="gl-recent-photos--faces--list">
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
            <li class="gl-recent-photos--faces--list--items"><img src="./assets/img/profile.png"></li>
        </ul>
    </div>
    <div class="gl-recent-photos--pagination">
        <ul class="gl-recent-photos--pagination--list">
            <li class="gl-recent-photos--pagination--list--items"><a href="#"><img src="./assets/img/prev-image.png"></a></li>
            <li class="gl-recent-photos--pagination--list--items "><a href="#">1</a></li>
            <li class="gl-recent-photos--pagination--list--items active"><a href="#">2</a></li>
            <li class="gl-recent-photos--pagination--list--items active"><a href="#">3</a></li>
            <li class="gl-recent-photos--pagination--list--items active"><a href="#">...</a></li>
            <li class="gl-recent-photos--pagination--list--items active"><a href="#">2861</a></li>
            <li class="gl-recent-photos--pagination--list--items active"><a href="#"><img src="./assets/img/next-image.png"></a></li>
        </ul>
    </div>
</section>