.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include respond-to('medium') {
        max-width: 1460px;
        margin: 0 auto;
        flex-direction: row;
    }
    .container {
        margin:20px 10px;
        
    }
    &--left-pannel {
        width: 100%;
        @include respond-to('large') {
            width: 25%;
        }
    }
    &--center-pannel {
        width: 100%;
        @include respond-to('large') {
            width: 50%;
        }
    }
    &--right-pannel {
        width: 100%;
        @include respond-to('large') {
            width: 25%;
        }
    }
}