<section class="gl-advertisement">
    <div class="gl-advertisement--img"><img src="./assets/img/gl.png"></div>
    <div class="gl-advertisement--text">GlobalLogic is proud to be certified as a Great Place to Work </div>
</section>