<section class="gl-profile-card">
<div class="gl-profile-card--orangebg"></div>
<div class="gl-profile-card--details">
    <img class="gl-profile-card--details--img" src="./assets/img/profile.png">
    <h2 class="headline-h2">Rian Hooper</h4>
    <p class="gl-profile-card--details--title">Consultant Engineering</p>
    <ul class="gl-profile-card--details--list">
        <li class="gl-profile-card--details--list--items"><span>People who follow me</span><strong>9</strong></li>
        <li class="gl-profile-card--details--list--items"><span>People I follow</span><strong>3</strong></li>
        <li class="gl-profile-card--details--list--items"><span>Teammates</span><strong>117</strong></li>
        <li class="gl-profile-card--details--list--items"><span>My Commuities</span><strong>28</strong></li>
    </ul>
</div>
</section>