<section class="gl-award">
    <aside class="gl-award--profile">
        <div class="gl-award--profile--image-block">
            <img class="gl-award--profile--image-block--img" src="./assets/img/profile.png">
         </div>
        <span class="gl-award--profile--name">Ravi Singh</span>
        <span class="gl-award--profile--info">Received <strong>Excellence award</strong> for QA FY'19</span>
    </aside>
    <aside class="gl-award--commenter">
        <img class="gl-award--commenter--img" src="./assets/img/profile.png">
        <label class="gl-award--commenter--label" for="comments">
            <input type="text" name="comment" id="comments" placeholder="Write a comment" class="gl-award--commenter--label--input">
        </label>
    </aside>
     <aside class="gl-award--commenter">
        <img class="gl-award--commenter--img" src="./assets/img/profile.png">
        <label class="gl-award--commenter--label" for="comments">
            <input type="text" name="comment" id="comments" placeholder="Write a comment" class="gl-award--commenter--label--input">
        </label>
    </aside>
</section>